html, body {
  height: 100%;
  width: 100%;
}

.daily-bruin-link {
  font-family: 'Lato', sans-serif;
}

.headline {
  color: white;
  background-color: rgba(0, 0, 128, 0.7);
  text-align: center;
  padding: 10px;
  min-width: 500px;
  width: 700px;
  border-radius: 3px;
  margin: auto;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.jumbotron {
  background-image: url('http://dailybruin.com/images/2016/10/web.sp_.camgriffin.feat_.AYeo_-640x402.jpg');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 100%;
  padding: 0px;
}

.image-wrap {
  border: 2px solid #eee;
  border-radius: 2px;
  padding: 5px;
  max-width: 315px;
}

.image {
    cursor: pointer;
    width: 300px;
    height: 200px;
}

.image:hover {
  opacity: 0.7;
}

#webpage-caption {
  display: table;
}

#modal-pull-left {
  float: left;
  margin-right: 7px;
}

#modal-pull-right {
  float: right;
  margin-right: 7px;
}

.modal .close {
  margin-right: 5px;
}

.modal .modal-image {
  display: block;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.caption {
  margin: 5px;
  text-align: left;
  font-family: 'Habibi', serif;
}

.content {
  font-family: 'Habibi', serif;
}

#quote-pull-right {
  float: right;
  margin-left: 7px;
  font-family: 'Habibi', serif;
  max-width: 600px;
}

.blockquote-design {
  text-align: right;
}
.verner-video {
  margin: 0 auto;
  display: block;
}
.page-credit {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

/*iPhone mobile styling*/
@media screen and (min-width: 310px) and (max-width: 570px){
  .headline {
    width: 260px;
    margin: auto;
    font-size: 20px;
  }

  .image {
    width: 260px;
    height: 160px;
    margin: 5px 5px;
  }

  .verner-video {
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 374px) and (max-width: 670px) {
  .image-wrap {
    border: 2px solid #eee;
    border-radius: 2px;
    padding: 5px;
    max-width: 400px;
  }

  .image {
    width: 310px;
    height: 210px;
  }
}

@media screen and (min-width: 410px) and (max-width: 740px) {
  .image-wrap {
    border: 2px solid #eee;
    border-radius: 2px;
    padding: 5px;
    max-width: 360px;
  }

  .image {
    width: 335px;
    height: 235px;
  }
}

/*Android mobile styling*/
@media screen and (min-width: 359px) and (max-width: 641px) {
  .image-wrap {
    border: 2px solid #eee;
    border-radius: 2px;
    padding: 5px;
    max-width: 330px;
  }

  .image {
    width: 300px;
    height: 200px;
  }
}

@media screen and (min-width: 410px) and (max-width: 732px) {
  .image-wrap {
    border: 2px solid #eee;
    border-radius: 2px;
    padding: 5px;
    max-width: 390px;
  }

  .image {
    width: 350px;
    height: 250px;
  }
}

@media screen and (min-width: 434px) and (max-width: 774px) {
  .image-wrap {
    border: 2px solid #eee;
    border-radius: 2px;
    padding: 5px;
    max-width: 400px;
  }

  .image {
    width: 375px;
    height: 275px;
  }
}
